/*
mobile first
rozpoczynamy tworzenie od mobilnych widokow

Rozdzielczosci
320 mobile
480 mobile
768 tablet
960 desktop
1200 desktop
1920 desktop

domyslny rozmiar tekstu dla wiekszosci obecnych przegladarek to 16px


body {
    background: #e8e3d8;
    font-size: 0.625em; // 10px
}

p {
    color: #92846f;
    text-shadow: #fff 1px 1px;
    font-family: Georgia, serif;
    font-size: 1rem;
}

css3 media queries
@media all and (max-width: 480px) {

}
*/

body {
    margin: 0;
    padding: 0;
    background: url("img/background-pattern.jpg") repeat top left;
    font-size: .625em;
    font-family: Georgia, serif;
    text-rendering: optimizeLegibility; /* "poprawia fonty" w iOS, retina, firefox uzywa tego domyslnie */
}

#logo {
    width: 100%;
    text-align: center; /* dziala rowniez na obrazy */
    margin-bottom: -35px;
}

img {
    width: 100%;
    height: 100%;
}

#logo img {
    max-width: 100%;
}

#gallery-wrapper {
    width: 100%;
    padding: 6px 0;
    background: rgba(255,255,255, .6);
    overflow: hidden;
}

#top-1, #top-2, #top-3, #top-4, #top-5 {
    height: 350px;
    width: 20%;
    float: left;
}

#top-1 { background: url("img/hi-res/top1.jpg") no-repeat top center; }
#top-2 { background: url("img/hi-res/top2.jpg") no-repeat top center; }
#top-3 { background: url("img/hi-res/top3.jpg") no-repeat top center; }
#top-4 { background: url("img/hi-res/top4.jpg") no-repeat top center; }
#top-5 { background: url("img/hi-res/top5.jpg") no-repeat top center; }

div.desc {
    height: 140px;
    text-align: center;
    padding: 5px;
    background: rgba(51, 51, 51, .7);
    color: #fff;
    font-size: 1.2em;
    margin-top: 330px;
}

#content-wrapper {
    width: 960px;
    margin: 30px auto;
}

#left {
    padding: 15px;
    float: left;
    width: 630px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #fff;
    background: rgba(130, 80, 121, .8);
}

#right {
    padding: 15px;
    float: right;
    width: 240px;
    background: rgba(240, 234, 222, .8);
    font-size: 1.2em;
    line-height: 1.6em;
    color: #964f33;
}

.fluid-image {
    margin-right: 20px;
    float: left;
}

.extra {
    display: none;
}

/* tablet */
@media all and (min-width: 481px) and (max-width: 959px) {
    #right {
        display: none;
    }
    #content-wrapper {
        width: 100%;
    }
    #left {
        width: 86%;
        margin: 0 5%;
        padding: 2%;
    }
    .extra {
        display: block;
    }
    .fluid-image {
        margin: 1%;
        width: 31.3333333333%;
    }
}

/* pixel ratio dla telefonow */
@media all and (min-device-pixel-ratio: 2) {
    
}