<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h1>Witaj w kursie Angular!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <input #InputRef (keyup)=" message = $event.target.value ">

      <button (click)="focus(InputRef)">Focus</button>

      <button (click)="cardRef.open()">Open</button>
      <button (click)="cardRef.close()">Close</button>
      {{ ( open? 'Open' : 'Close' ) }}
      <hr>

      <dynamic-card #cardRef
        [(open)]="open"
        [text]="message">
      </dynamic-card>

    </div>
  </div>
</div>
