:host() {
  flex: 0 0 29% !important;
  margin-bottom: 0.625rem !important;
  overflow: hidden;
}

:host():hover .card-img-overlay {
  top: 100%;
}

.card-img-overlay {
  background-color: rgba(0,0,0,0.8);
  top: 70%;
  color: #fff;
  font-size: 1em !important;
  transition: .2s top ease-out;
}


