<cs-header>
  <p levels>cars</p>
  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
        <tr>
          <th>car</th>
          <th>plate</th>
          <th>delivery date</th>
          <th>deadline</th>
          <th>client</th>
          <th>cost</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of cars; let i = index" (click) = 'goToCarDetails(car)' class="row-car">
            <!-- jesli cars.isFullDamage jest true to zostanie przypisana klasa !-->
            <td csImportant="" [ngClass]="{'row-error': car?.isFullyDamaged}">{{car?.model | uppercase}}</td>
            <td>{{car?.plate | uppercase}}</td>
            <td>{{car?.deliveryDate | date:shortDate}}</td>
            <td>{{car?.deadline | date:shortDate}}</td>
            <td>{{car?.client.firstName}} {{car?.client.surname | surnameShortcut}}</td>
            <td>{{car?.cost | currency:'PLN':true}}</td>
            <td (click)="removeCar(car, $event)">( X )</td>
          </tr>
        </tbody>
      </table>

      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service. Sorry :(</p>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button (click)="showGross()" class="btn btn-primary float-right">
        SHOW GROSS
      </button>
    </div>
  </div>

  <!-- przesylanie wartosci do zagniezdzonego komponentu z komponentu rodzica -->
  <!-- @input przekazujemy w nawiasach kwadratowych, @Output w okraglych -->
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>

  <!-- odbieranie danych z zagniezdzonego komponentu -->
  <div class="row">
    <div class="col-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST : {{totalCost}} PLN</p>
      </div>
    </div>
  </div>
</div>

<p class="data-header">Add a new car</p>

<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-4">
        <label>Model</label>
        <input type="text" class="form-control" placeholder="model" formControlName="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">This field is required</p>
      </div>
      <div class="col-4">
        <label>Type</label>
        <input type="text" class="form-control" placeholder="type" formControlName="type">
      </div>
      <div class="col-4">
        <label>Plate</label>
        <input type="text" class="form-control" placeholder="plate" formControlName="plate">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty" class="error">This field is required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-4">
        <label>Color</label>
        <input type="text" class="form-control" placeholder="Model" formControlName="color">
      </div>
      <div class="col-4">
        <label>Power</label>
        <input type="text" class="form-control" placeholder="Type" formControlName="power">
      </div>
      <div class="col-4">
        <label>Cost</label>
        <input type="text" class="form-control" placeholder="Plate" formControlName="cost">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-4">
        <label>Client First Name</label>
        <input type="text" class="form-control" placeholder="Model" formControlName="firstName">
      </div>
      <div class="col-4">
        <label>Client Last Name</label>
        <input type="text" class="form-control" placeholder="Type" formControlName="lastname">
      </div>
      <div class="col-4">
        <label for="damaged">Is car fully damaged
        <input type="checkbox"></label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-4">
        <label>Delivery date</label>
        <input type="text" class="form-control" placeholder="Delivery date" formControlName="deliveryDate">
      </div>
      <div class="col-4">
        <label>Deadline</label>
        <input type="text" class="form-control" placeholder="Type" formControlName="deadline">
      </div>
      <div class="col-4">
        <label>Year</label>
        <input type="text" class="form-control" placeholder="Year" formControlName="year">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="reset" class="btn btn-secondary float-right">RESET</button>
        <button [disabled]="carForm.invalid" (click)="addCar()" type="submit" class="btn btn-primary float-right">ADD CAR</button>
      </div>
    </div>
  </form>

  <!-- obserwowanie stanu formularza -->
  <pre>{{carForm.value | json}}</pre>

  <!-- stan walidacji -->
  <pre>{{carForm.get('model').valid | json}}</pre>
</div>
