.t-site-footer {
  background: $gray-very-dark;

  .o-row {
    padding: $grid-base * 4 0 $grid-base * 1.5 0;
  }

  &__item {
    margin-bottom: $grid-base * 3;

    @include large-plus {
      margin-bottom: 0;
    }
  }

  &__item-last {
    width: 290px;

    @include large-plus {
      margin-left: $grid-base * 7.5;
    }
  }

  &__text {
    color: $white;
    display: block;
    font-size: $font-size-7;
    margin-bottom: $grid-base * 2;
  }

  &__link {
    color: $white;
    display: block;
    font-size: $font-size-7;
    margin-bottom: 12px;

    &:hover {
      color: $white;
    }
  }

  &__address {
    padding: 0 $grid-base * 4 0 0;
  }

  &__copy {
    padding: $grid-base * 2.5 0;
  }
}
