.t-newsletter {
  background: $gray-light;
  padding: $grid-base * 4.5 $grid-base;

  @include large-plus {
    padding: $grid-base * 4.5 $grid-base * 7;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    width: 100%;
    margin-bottom: $grid-base * 3;

    @include large-plus {
      margin-bottom: 0;
      width: 45%;
    }
  }

  &__form {
    width: 100%;

    @include large-plus {
      width: 55%;
    }
  }

  &__heading {
    display: block;
    font-size: $font-size-4;
    font-weight: 700;
    margin-bottom: $grid-base * 4.5;
  }

  &__subheading {
    display: block;
    font-size: $font-size-7;
  }

  &__input {
    width: auto;

    @include medium-plus {
      width: 72%;
    }
  }

  &__submit {
    border-radius: 0 $border-radius $border-radius 0;
    padding: .7rem 1.75rem;
    margin-left: -3px;
  }
}
