<form [formGroup]="flightForm">
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input formControlName="code" matInput placeholder="Code" #codeInput>
        <mat-error *ngIf="flightForm.get('code').hasError('required')">Code is required</mat-error>
        <mat-error *ngIf="flightForm.get('code').hasError('minlength')">Minimum length is 4 chars</mat-error>
        <mat-error *ngIf="flightForm.get('code').hasError('maxlength')">Maximum length is 7 chars</mat-error>
        <mat-hint>{{ codeInput.value.length }}/7</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input formControlName="origin" matInput placeholder="Origin">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input formControlName="destination" matInput placeholder="Destination">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input type="date" formControlName="departureTime" matInput placeholder="Departure time">
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input type="date" formControlName="returnTime" matInput placeholder="Return time">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <textarea formControlName="additionalInformation" matInput placeholder="Additional Information"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox formControlName="withSKPlanesDiscount">With SK Discount</mat-checkbox>
    </div>
  </div>
  <div formArrayName="crew" class="crew-container shadow" *ngFor="let crewMember of crew.controls;index as index">
    <div class="row crew-header">
      <div class="col">
        <span>Crew Member - {{ index + 1 }}</span>
        <mat-icon class="float-right" (click)="removeCrewMember(index)">delete_forever</mat-icon>
      </div>
    </div>
    <div class="row" [formGroupName]="index">
      <div class="col-sm-5">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-select formControlName="job" placeholder="Job">
            <mat-option *ngFor="let job of jobs" [value]="job.value">{{ job.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" (click)="addCrewMember()">Add crew member</button>
    </div>
  </div>
</form>
