<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Witaj w kursie Angular!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      
      <panel>
        <h4 ngProjectAs="panel-header">      
          <panel-close></panel-close> 
          Lista Testowa <small>5 testow</small>
        </h4>
          
          <ul>
            <li *ngFor="let item of list">
              Item: {{item}}
            </li>
          </ul>                     
          
          <div ngProjectAs="panel-footer">
            <input (keyup.enter)="
              list.push(itemNameRef.value);
              itemNameRef.value = ''
            " #itemNameRef class="form-control">  
          </div> 
      </panel>
      
      <hr>
      
      <panel>
        
          <h5 ngProjectAs="panel-header">      
              <panel-close></panel-close>
              Komunikaty
          </h5>
          <p class="alert bg-warning">
            Powiadomienie w panelu!
          </p>
      </panel>

    </div>
  </div>
</div>
