<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <h3>
      <a routerLink="/" routerLinkActive="active" class="navbar-brand">Muzyka z Angular 2</a>
    </h3>
    <ul class="nav navbar-nav float-right">
      <li class="nav-item">
        <a routerLink="music" routerLinkActive="active" class="nav-link">Szukaj muzyki</a>
      </li>
      <li class="nav-item">
        <a routerLink="playlists" routerLinkActive="active" class="nav-link">Twoje playlisty</a>
      </li>
    </ul>
  </div>
</nav>
