<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Witaj w kursie Angular!</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" (keyup.enter)="addMenuItem(label.value); label.value = '';" #label placeholder="New menu item...">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="dropdown show" dropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button">
          Dropdown button
        </button>
        <div class="dropdown-menu show">
          <a class="dropdown-item" href="#" *ngFor="let item of menu.items">
            {{item.label}}
          </a>
        </div>
      </div>
    </div>
    <div class="col" >

      <!-- Example split danger button -->
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split">
        </button>
        <div class="dropdown-menu show">
            <a class="dropdown-item" href="#" *ngFor="let item of menu.items">
              {{item.label}}
            </a>
        </div>
      </div>

    </div>
    <div class="col" >
      <!-- Split dropup button -->
      <div class="btn-group dropdown show" dropdown>
        <button type="button" class="btn btn-secondary">
          Split dropdown
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle">
        </button>
        <div class="dropdown-menu show">
            <a class="dropdown-item" href="#" *ngFor="let item of menu.items">
              {{item.label}}
            </a>
        </div>
      </div>
    </div>
  </div>
</div>