<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Witaj w kursie Angular!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      
      <panel title="Lista">
        <h4 class="card-header">      
          <panel-close></panel-close> 
          Lista Testowa <small>{{list.length}} testow</small>
        </h4>
          
          <panel-tab *ngFor="let item of list" [title]="item">    
              <panel-close></panel-close>  
              Test: {{item}}
          </panel-tab>                     
          
        <div class="card-footer">
            <input (keyup.enter)="
              list.push(itemNameRef.value);
              itemNameRef.value = ''
            " #itemNameRef class="form-control">  
        </div> 
      </panel>
      
      <hr>
      
      <panel>
        
          <h5 class="panel-header">      
              <panel-close></panel-close>
              Komunikaty
          </h5>
          <p class="alert bg-warning">
            Powiadomienie w panelu!
          </p>
      </panel>

    </div>
  </div>
</div>
